<div class="container-fluid">
  <h1>Mantenimiento de Transacciones</h1>
  <hr/>
  <div class="row">
    <div class="col-3">
      <h4>Formulario</h4>
      <hr/>
      <div class="row">
        <div class="col col-lg-12 offset-lg-12">
            <form #formGuardar="ngForm" (ngSubmit)="onSave(formGuardar)" novalidate> 
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                    Error al guardar
                </div>
                <div class="alert alert-success" role="alert" *ngIf="isSaved">
                    Registro guardado
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Cliente</label>
                  <input type="text" class="form-control" id="cliente" aria-describedby="cliente"
                  required [(ngModel)]="objetoFormulario.cliente" name="cliente">
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword1">Intentos</label>
                  <input type="number" class="form-control" id="intentos" aria-describedby="intentos"
                  required [(ngModel)]="objetoFormulario.intentos" name="intentos">
                </div>

                <div class="form-group">              
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" required
                           name="dp" [(ngModel)]="itemFecha" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Estado</label>
                    <select name="estado" [(ngModel)]="objetoFormulario.estado" class="form-control" 
                     required>
                      <option value="APROBADO" >APROBADO</option>
                      <option value="RECHAZADO">RECHAZADO</option>
                      <option value="PENDIENTE">PENDIENTE</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="archivo">Evidencia</label>
                    <input type="file" class="form-control" id="archivo" aria-describedby="archivo"
                    [(ngModel)]="objetoFormulario.archivo" name="archivo">
                </div>

                <button type="submit" 
                [className]=" accionEditar ? 'btn btn-primary' : 'btn btn-success'" >
                    Guardar</button>

                <button type="button" class="btn btn-secondary" style="margin-left: 5px;"
                    (click)="onReset()">Cancelar</button>
              </form>
          </div>
    </div>
    </div>
    <div class="col-9">
      <h4>Listado de Registros</h4>

      <button type="button" class="btn btn-outline-success float-right" (click)="exportexcel()"
      style="margin-bottom: 15px;">Exportar</button>
      <table class="table table-striped" id="excel-table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Cliente</th>
          <th scope="col">Intentos</th>
          <th scope="col">Fecha</th>
          <th scope="col">Estado</th>
          <th scope="col">Evidencia</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of this.servicio.lista; let i = index">
          <th scope="row">{{ item.id}}</th>          
          <td>{{ item.cliente }}</td>
          <td>{{ item.intentos }}</td>
          <td>{{ item.fecha | date:'yyyy-MM-dd' }}</td>
          <td>{{ item.estado }}</td>
          <td>
            <button *ngIf="item.archivo !== '' " title="{{item.archivo}}">Descargar</button>
          </td>
          <td><button class="btn btn-primary" 
            (click)="onUpdate(item)">Editar</button></td>
        <td><button class="btn btn-danger"
            (click)="onDelete(item)">Eliminar</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div> 
</div>